.features {
    min-height: 847px;
    min-width: 320px;;
    /* margin-left: 0; */
    
}


.features__text {
    text-align: center;
    margin: 100px 67px 0 67px;
}

.features__title {
    font-size: 3rem;
    color: var(--accent-color); 
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 55px;
}

.features__sub-title {
    
    font-size: 1.50rem;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    color: var(--paragraph-color); 
    line-height: 40px;
    letter-spacing: 0.2px;
}


.video {
    max-width: 385px;
    max-height: 215px;
    /* min-width: 385px; */
    border-radius: 14.6877px;
}

.features__video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
}



/* FEATURES BOXES */

.features__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 83px;
}




.features-one__image, .features-two__image, .features-three__image {
    width: 45px; 
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}




.features__box-one, .features__box-two , .features__box-three {
   
margin-left: 93.5px;
margin-right: 93.5px;
margin-bottom: 82px;
}

.feature__box-title {
    font-weight: 700;
font-size: 1.25rem;
line-height: 28px;
padding-top: 27px;
padding-bottom: 20px;
color: var(--accent-color);
}

.feature__box-text {
    font-weight: 400;
font-size: 18px;
line-height: 25px;
color: var(--paragraph-color);
}


@media (min-width: 800px) {
    .features__boxes {
        flex-direction: row;
        justify-content: space-around;
    }
}


