.header {
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1024px;
    min-width: 320px;
    }
    
    
    .figma-land_logo {
        width: 186px;
        height: 58px;
       
    }
    
    .figma__logo-container {
        padding-top: 30px;
        padding-left: 25px;
    }
    
    

    .nav__menu, 
    .nav__images {
        display: none;
    }
      
    .header-text {
        margin: 200px 30px 0 30px;
        text-align: center;
        
    }

    .header__title {
        font-size: var(--title-font-size);
        font-weight: 400;

        color: #ffff; 
      
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 27px;
        letter-spacing: 0.2px;
        line-height: 55px;
    }
    
.header__sub-title {
    font-size: var(--subtitle-font-size);
    font-weight: 300;
    
    letter-spacing: 0.2px;
    color: #ffff; 
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;

}

.button-container {
    margin-top: 69px;
}

/* @media (min-width: 500px) {
    .header__top-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
} */

