.header {
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-position: center;
    min-height: 847px;
    min-width: 320px;
    }
    
    
    .figma-land_logo {
        width: 186px;
        height: 58px;
       
    }
    
    .figma__logo-container {
        padding-top: 30px;
        padding-left: 25px;
    }
    
    .header__top-nav {
        display: flex;
        flex-direction: column;
       color: #ffff; 
       float: right;
    }
    
    .top-nav__item {
        color: #ffff; ;
        text-decoration: none;
    }
    
    
    .header__title {
        font-size: var(--title-font-size);
        font-weight: 400;
        text-align: center;
        color: #ffff; 
        padding: 80px 42px 0 42px;
        letter-spacing: 0.2px;
        /* line-height: 55px; */
    }
    
.header__sub-title {
    font-size: var(--subtitle-font-size);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffff; 
    padding: 27px 76.5px 0 75.5px;
}

.button-container {
    margin-top: 60px;
}

/* @media (min-width: 500px) {
    .header__top-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
} */

